<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'coffeemachine/style.css' %}">
    </head>

    <body>
        <div id="container">
            <h1>Your Selection</h1>
            <div class="detail-block-1">
                <div class="content">
                    <img src="{% get_static_prefix %}{{ item.image }}" alt="item image">
                    <div class="contentRight">
                        <div class="row-1">{{item.name}}</div>
                        <div class="row-2">
                            <div id="price-div" data-price="{{ item.price }}">{{item.price}}</div>
                            <div id="count-square" class="square"><a id="clicks">1</a></div>
                            <button id="plus-butn" onClick="onClickPlusOne()">+</button>
                            <button id="minus-butn" onClick="onClickMinusOne()">-</button>
                        </div>
                        <div class="row-3">
                            <p id="before-total-text">TOTAL:&#65129;<span id="total">{{item.price}}</span></p>
                        </div>
                        
                        <div class="row-4">
                            <a href='javascript:onClickPayBtn()' target="_self">PAY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-block-2">
                {{item.description}}
            </div>
        </div>
        <div id="overlay">
            <h1 id="overlay-text">Please make the payment</h1>
            <img id="overlay-img" src="" alt="alt-image">
        </div>
        <script>
            document.getElementById("overlay-img").src = "{% get_static_prefix %}coffeemachine/images/cashless_payment-transparent.png"; 
            let element = document.getElementById("price-div")
            let data = element.dataset
            let unit_price = parseFloat(data.price)
            let clicks = 1;

            function onClickPlusOne() {
                if (clicks <= 9) {
                    clicks += 1;
                    document.getElementById("clicks").innerHTML = clicks;
                    document.getElementById("total").innerHTML = (unit_price*clicks).toFixed(2);
                    sessionStorage.setItem("order_count", clicks);
                }
            };
            
            function onClickMinusOne() {
                if (clicks > 1) {
                    clicks -= 1;
                    document.getElementById("clicks").innerHTML = clicks;
                    document.getElementById("total").innerHTML = (unit_price*clicks).toFixed(2);
                    sessionStorage.setItem("order_count", clicks);
                }
            };

            function onClickPayBtn() {
                document.getElementById("overlay").style.display='block';
                document.getElementById("container").style.opacity=0.5;
                timer1 = setTimeout(show_prepare_message, 3000);
            };

            function show_prepare_message() {
                document.getElementById("overlay-text").textContent='Preparing your order';
                document.getElementById("overlay-img").src ="{% get_static_prefix %}coffeemachine/images/3-dots-flashes.gif";
            };

            document.body.addEventListener('keydown', function(e) {
                if (e.key == "Escape") {
                    document.getElementById("overlay").style.display='none';
                    document.getElementById("container").style.opacity=1;
                    clearTimeout(timer1);
                }
            });
        </script>

    </body>
</html>