<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
    <div class="image-grid">
        <img src="{% static 'CoffeeMachine/images/black-coffee.png' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
        <img src="{% static 'CoffeeMachine/images/black-tea.jpeg' %}" alt="My image">
    </div>

    </body>
</html>
