<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'coffeemachine/style.css' %}">
    </head>

    <body>
        <h1>What would like today?</h1>
        <div class="image-grid">
            <img src="{% static 'coffeemachine/images/black-coffee.png' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/cappuccino.png' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/white-coffee.jpg' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/doppio.jpg' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/espresso-coffee.png' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/hot-chocolate.jpg' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/hibiscus-tea.jpg' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/Green-Tea.png' %}" alt="My image">
            <img src="{% static 'coffeemachine/images/black-tea.jpeg' %}" alt="My image">
        </div>

    </body>
</html>