<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'coffeemachine/style.css' %}">
    </head>

    <body>
        <h1>What would like today?</h1>
        <div class="wrapper">
            <div class="grid">
                {% for item in item_list %} 
                    <div class="grid-item">
                        <a href={% url 'coffeemachine:detail' item.name %} target="_self">
                            <figure>
                                <img src="{% get_static_prefix%}{{item.image}}" alt="Item image">
                                <figcaption>{{item.name}}</figcaption>
                            </figure>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>